/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100dvh;
    background-image: url("assets/blob-bg.svg");
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
  }
}
